DATABASE_URL=postgresql://umfuser:umfpassword@localhost:5432/umfdb

APP_KEY=base64:CHANGE_ME_LARAVEL_KEY_32CHARS==
APP_ENV=local
APP_DEBUG=true

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=umfdb
DB_USERNAME=umfuser
DB_PASSWORD=umfpassword

SECRET_KEY=CHANGE_ME_FASTAPI_SECRET_KEY

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8003

POSTGRES_USER=umfuser
POSTGRES_PASSWORD=umfpassword
POSTGRES_DB=umfdb

VITE_API_BASE_URL=http://localhost:8004
